body{
    margin: 0;
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 50px;
}
.dev-name{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: whitesmoke;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big .half-width{
    padding-right: 5%;
    padding-left: 5%;
}